<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="static/img/icono.ico">
  <!--FontAwesome-->
  <script src="https://kit.fontawesome.com/cb5eaae16f.js" crossorigin="anonymous"></script>
  <!--CSS-->
  <link rel="stylesheet" href="static/css/styles.css">
  <title>Camisa Gris - Nike</title>
</head>
<body>
  <header>
    <div class="header">
      <div class="header-left">
        <button class="icon-menu link-nav">
          <i class="fa-solid fa-bars" id="icon"></i>
        </button>
        <div class="logo-nav">
          <a href="Home">
            <img src="static/img/nike-logo.png" alt="Nike Logo" class="logo">
          </a>
        </div>
      </div>
      <div class="header-right">
        <a href="login" class="item-link link-nav">
          <i class="fa-solid fa-user"></i>
          <span>Cuenta</span>
        </a>
        <a href="" class="item-link link-nav">
          <i class="fa-solid fa-cart-shopping"></i>
          <span>Carrito</span>
        </a>
      </div>
    </div>
    <div class="header-menu-bg">
      <div class="header-menu">
        <ul>
          <li><a href="camisas">Camisas</a></li>
          <hr>
          <li><a href="sudaderas">Sudaderas</a></li>
          <hr>
          <li><a href="gorras">Gorras</a></li>
          <hr>
          <li><a href="zapatos">Zapatos</a></li>
          <hr>
          <li><a href="Mochilas">Mochilas</a></li>
          <hr>
          <li><a href="balones">Balones</a></li>
        </ul>
      </div>
    </div>
  </header>
    <main class="container">
      <div class="product-container">
        <div class="product-image">
          <img src="static/img/camisa4.png" alt="Camisa Gris">
        </div>
        <div class="product-details">
          <h1>Camisa Negra - Nike</h1>
          <p class="pd-price">$30</p>
          <div class="tallas">
            <p>Selecciona tu talla</p>
            <button>S</button>
            <button>M</button>
            <button>L</button>
            <button>XL</button>
            <button>XXL</button>
          </div>
          <form action="" method="POST">
            <button class="btn-carrito">Añadir al Carrito</button>
          </form>
          <hr>
          <div class="product-description">
            <h3>Detalles del producto</h3>
            <ul>
              <li>Buena Calidad</li>
              <li>100% Algodon</li>
              <li>Hecho en USA</li>
            </ul>
          </div>
        </div>
      </div>
  </main>
  <footer class="footer">
    <ul class="footer-container">
      <li>©2022 Nike</li>
      <li><a href="#">Contacto</a></li>
      <li><a href="login">Cuenta</a></li>
      <li><a href="#">Carrito</a></li>
      <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
    </ul>
  </footer>
</body>
  <script src="static/js/menu.js"></script>
</html>