<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="static/img/icono.ico">
  <!--FontAwesome-->
  <script src="https://kit.fontawesome.com/cb5eaae16f.js" crossorigin="anonymous"></script>
  <!--CSS-->
  <link rel="stylesheet" href="static/css/styles.css">
  <title>Cuenta - Nike</title>
</head>
<body>
  <!--Header-->
  <header>
    <div class="header">
      <div class="header-left">
        <button class="icon-menu link-nav">
          <i class="fa-solid fa-bars" id="icon"></i>
        </button>
        <div class="logo-nav">
          <a href="Home">
            <img src="static/img/nike-logo.png" alt="Nike Logo" class="logo">
          </a>
        </div>
      </div>
      <div class="header-right">
        <a href="login" class="item-link link-nav">
          <i class="fa-solid fa-user"></i>
          <span>Cuenta</span>
        </a>
        <a href="" class="item-link link-nav">
          <i class="fa-solid fa-cart-shopping"></i>
          <span>Carrito</span>
        </a>
      </div>
    </div>
    <div class="header-menu-bg">
      <div class="header-menu">
        <ul>
          <li><a href="camisas">Camisas</a></li>
          <hr>
          <li><a href="sudaderas">Sudaderas</a></li>
          <hr>
          <li><a href="gorras">Gorras</a></li>
          <hr>
          <li><a href="zapatos">Zapatos</a></li>
          <hr>
          <li><a href="Mochilas">Mochilas</a></li>
          <hr>
          <li><a href="balones">Balones</a></li>
        </ul>
      </div>
    </div>
  </header>
  <!--Main-->
    <main class="container">
      <div class="container-account">
        <div class="account-links">
          <div class="title-header">
            <h1> HOLA, USER!</h1>
          </div>
          <div class="account-items">
            <a href="#" class="layout">
              <div class="icon"><i class="fa-solid fa-bag-shopping"></i></div>
              <div class="account-item-link">
                <h2>Pedidos</h2>
                <p>Ver tus pedidos</p>
              </div>
            </a>
            <hr>
            <a href="#" class="layout">
              <div class="icon"><i class="fa-solid fa-user"></i></div>
              <div class="account-item-link">
                <h2>Datos personales</h2>
                <p>Editar los datos personales</p>
              </div>
            </a>
            <hr>
            <a href="#" class="layout">
              <div class="icon"><i class="fa-solid fa-lock"></i></div>
              <div class="account-item-link">
                <h2>Contraseña</h2>
                <p>Cambiar la contraseña</p>
              </div>
            </a>
            <hr>
            </div>
            <div class="cerrar-sesion">
              <button class="btn-cerrar-sesion">Cerrar Sesion</button>
            </div>
        </div>
        <div class="panel-links">
          <div class="pedidos">
            <h2>Mis Pedidos</h2>
            <p>No tienes pedidos</p>
          </div>
          <div class="datos-personales">
            <h2>Datos personales</h2>
            <form action="">
              <label for="name">
                <input type="text" id="name">
              </label>
            </form>
          </div>
          <div class="contraseña"></div>
        </div>
      </div>
      
  </main>
  <!--Footer-->
  <footer class="footer">
    <ul class="footer-container">
      <li>©2022 Nike</li>
      <li><a href="#">Contacto</a></li>
      <li><a href="login">Cuenta</a></li>
      <li><a href="#">Carrito</a></li>
      <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
    </ul>
  </footer>
</body>
 <script src="static/js/menu.js"></script>
</html>