<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="static/img/icono.ico">
  <!--FontAwesome-->
  <script src="https://kit.fontawesome.com/cb5eaae16f.js" crossorigin="anonymous"></script>
  <!--CSS-->
  <link rel="stylesheet" href="static/css/styles.css">
  <title>Nike</title>
</head>
<body>
  <!--Header-->
  <header>
    <div class="header">
      <div class="header-left">
        <button class="icon-menu link-nav">
          <i class="fa-solid fa-bars" id="icon"></i>
        </button>
        <div class="logo-nav">
          <a href="Home">
            <img src="static/img/nike-logo.png" alt="Nike Logo" class="logo">
          </a>
        </div>
      </div>
      <div class="header-right">
        <a href="login" class="item-link link-nav">
          <i class="fa-solid fa-user"></i>
          <span>Cuenta</span>
        </a>
        <a href="" class="item-link link-nav">
          <i class="fa-solid fa-cart-shopping"></i>
          <span>Carrito</span>
        </a>
      </div>
    </div>
    <div class="header-menu-bg">
      <div class="header-menu">
        <ul>
          <li><a href="camisas">Camisas</a></li>
          <li><a href="sudaderas">Sudaderas</a></li>
          <li><a href="gorras">Gorras</a></li>
          <li><a href="zapatos">Zapatos</a></li>
          <li><a href="mochilas">Mochilas</a></li>
          <li><a href="balones">Balones</a></li>
        </ul>
      </div>
    </div>
  </header>
  <!--Main-->
    <div class="container">
      <main>
        <h1 class="titulo">NUESTROS PRODUCTOS</h1>
        <div class="collection">
          <div class="collection-list">
            <a href="camisas">
              <div class="list">
                <img src="static/img/camisa.png" alt="" class="product-img">
                <p>CAMISAS</p>
              </div>
            </a>
          </div>
          <div class="collection-list">
            <a href="sudaderas">
              <div class="list">
                <img src="static/img/sudadera.png" alt="" class="product-img">
                <p>SUDADERAS</p>
              </div>
            </a>
          </div>
          <div class="collection-list">
            <a href="gorras">
              <div class="list">
                <img src="static/img/gorra.png" alt="" class="product-img">
                <p>GORRAS</p>
              </div>
            </a>
          </div>
          <div class="collection-list">
            <a href="zapatos">
              <div class="list">
                <img src="static/img/zapato.png" alt="" class="product-img">
                <p>ZAPATOS</p>
              </div>
            </a>
          </div>
          <div class="collection-list">
            <a href="#">
              <div class="list">
                <img src="static/img/mochila.png" alt="" class="product-img">
                <p>MOCHILAS</p>
              </div>
            </a>
          </div>
          <div class="collection-list">
            <a href="#">
              <div class="list">
                <img src="static/img/balon.png" alt="" class="product-img">
                <p>BALONES</p>
              </div>
            </a>
          </div>
        </div>
      </main>
  </div>
  <!--Footer-->
  <footer class="footer">
    <ul class="footer-container">
      <li>©2022 Nike</li>
      <li><a href="#">Contacto</a></li>
      <li><a href="login">Cuenta</a></li>
      <li><a href="#">Carrito</a></li>
      <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
    </ul>
  </footer>

</body>
 <script src="static/js/app.js"></script>
</html>