<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="static/img/icono.ico">
  <!--FontAwesome-->
  <script src="https://kit.fontawesome.com/cb5eaae16f.js" crossorigin="anonymous"></script>
  <!--CSS-->
  <link rel="stylesheet" href="static/css/styles.css">
  <title>Registrarse - Nike</title>
</head>
<body>
    <header class="header">
        <div class="header-left">
          <button class="icon-menu link-nav">
              <i class="fa-solid fa-bars"></i>
          </button>
          <div class="logo-nav">
            <a href="index.html">
              <img src="static/img/nike-logo.png" alt="Nike Logo" class="logo">
            </a>
          </div>
        </div>
        <div class="header-right">
          <a href="login.html" class="item-link link-nav">
            <i class="fa-solid fa-user"></i>
            <span>Cuenta</span>
          </a>
          <a href="#" class="item-link link-nav">
            <i class="fa-solid fa-cart-shopping"></i>
            <span>Carrito</span>
          </a>
        </div>
    </header>
      <div class="register-login-container">
        <div class="form-container">
          <header class="form-header">
            <h1>REGISTRARSE</h1>
          </header>
          <form action="">
            <div class="name">
              <label for="">Nombre</label>
              <input type="text" name="name" id="name" class="form-input" required>
            </div>
            <div class="lastname">
              <label for="">Apellidos</label>
              <input type="text" name="lastname" id="lastname" required class="form-input">
            </div>
            <div class="email">
              <label for="">Correo Electronico</label>
              <input type="email" name="email" id="email" required class="form-input">
            </div>
            <div class="password">
              <label for="">Contraseña</label>
              <input type="password" name="password" id="password" required class="form-input">
            </div>
            <div class="checkbox-input">
              <input type="checkbox" name="terms" id="terms" required>
              <label for="terms">Aceptos los <a href="#" class="terms-and-conditions">Terminos y condiciones</a></label>
            </div>
            <div>
              <button type="submit" class="create-account">Crear Cuenta</button>
            </div>
            <hr>
            <div class="btn-login-container">
              <p>¿Ya tienes una cuenta?</p>
              <a href="login.html" class="login"><span class="login-label">Login</span></a>
            </div>
          </form>
        </div>
      </div>
      <footer class="footer">
        <ul class="footer-container">
          <li>©2022 Nike</li>
          <li><a href="#">Contacto</a></li>
          <li><a href="login.html">Cuenta</a></li>
          <li><a href="#">Carrito</a></li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
        </ul>
          </footer>
</body>
</html>